<div class="section-line">
  <ul class="sl-menu">
    <li><a href="#/" class="selected">О компании</a></li>
    <li><a href="#/partners">Партнерам</a></li>
    <li><a href="#" class="hidden-md hidden-lg">Контакты</a></li>
  </ul>
  <a href="#" class="pull-right request-call hidden-xs hidden-sm">Заказать звонок</a>
  <div class="pull-right line-contact hidden-xs hidden-sm">
    <div>+7 (495) 795-99-34</div>
    <a href="mailto:info@stroygarant.moscow">info@stroygarant.moscow</a>
  </div>
  <a class="logo" href="/"></a>
</div>

<ul class="anchor-btn">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 1. выберите тип материала</h5>

    <div class="material-choice row">
      <div class="col-md-3">
        <div class="mc-item">Стеновые <br>материалы</div>
      </div>
      <div class="col-md-3">
        <div class="mc-item">ЖБИ</div>
      </div>
      <div class="col-md-3">
        <div class="mc-item">Утеплители</div>
      </div>
      <div class="col-md-3">
        <div class="mc-item">Сухие <br>строительные <br>смеси</div>
      </div>
    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 3. газобетонные блоки выберите плотность</h5>

    <p>Каждым производителем указывается средняя плотность материала, характеризующаяся массой 1м3 строительного материала, находящегося в сухом состоянии. Основной показатель плотности заключается в объеме пустот в ячеистом блоке. Высокая плотность предусматривает малую пустотность, при малой плотности газобетонного блока, соответственно, пустот будет больше. Данный фактор имеет прямую зависимость с прочностью газобетона.</p>

    <div class="material-choice row">
      <div class="col-md-3">
        <div class="mc-item">D400</div>
      </div>
      <div class="col-md-3">
        <div class="mc-item">D500</div>
      </div>
      <div class="col-md-3">
        <div class="mc-item">D600</div>
      </div>
    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 3. выберите что-нибудь</h5>

    <p>Каждым производителем указывается средняя плотность материала, характеризующаяся массой 1м3 строительного материала, находящегося в сухом состоянии. Основной показатель плотности заключается в объеме пустот в ячеистом блоке. Высокая плотность предусматривает малую пустотность, при малой плотности газобетонного блока, соответственно, пустот будет больше. Данный фактор имеет прямую зависимость с прочностью газобетона.</p>

    <div class="material-choice row">
      <div class="col-md-6">
        <div class="mc-item">DOLOR SIT AMET</div>
      </div>
      <div class="col-md-6">
        <div class="mc-item">LOREM IPSUM</div>
      </div>
    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>


<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 3. выберите что-нибудь</h5>

    <p>Каждым производителем указывается средняя плотность материала, характеризующаяся массой 1м3 строительного материала, находящегося в сухом состоянии. Основной показатель плотности заключается в объеме пустот в ячеистом блоке. Высокая плотность предусматривает малую пустотность, при малой плотности газобетонного блока, соответственно, пустот будет больше. Данный фактор имеет прямую зависимость с прочностью газобетона.</p>

    <div class="material-choice row">
      <div class="col-md-6">
        <div class="mc-item">Вариант А</div>
      </div>
       <div class="col-md-6">
        <div class="mc-item">Вариант Б </div>
      </div>
       <div class="col-md-6">
        <div class="mc-item">Вариант в две<br>строки  </div>
      </div>
       <div class="col-md-6">
        <div class="mc-item">Вариант Д </div>
      </div>
       <div class="col-md-6">
        <div class="mc-item">Вариант Х </div>
      </div>

    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 3. выберите что-нибудь</h5>

    <p>Каждым производителем указывается средняя плотность материала, характеризующаяся массой 1м3 строительного материала, находящегося в сухом состоянии.</p>

    <div class="material-choice row" ng-show="showSlick">
      <div class="slick-wall">
        <slick infinite="true" slides-to-show="3" slides-to-scroll="1">
          <div class="sw-item" ng-repeat="i in [1,2,3,4,5,6]">
            <a href="#"><img src="../../assets/images/demo/wall1.jpg" alt=""/></a>
            <div class="wall-info">
                <p>Клинкерная плитка Ferrum liso NF Feldhaus</p>
                <p>2 343.86 р за м²</p>
            </div>
          </div>
        </slick>
      </div>
    </div>

    <a class="more v2" ng-click="showSlick = true">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 3. выберите цвет</h5>

    <div class="color-choice">
      <div class="color-item">
        <span class="white"></span>
        Белый
      </div>
      <div class="color-item">
        <span class="beige"></span>
        Бежевый
      </div>
      <div class="color-item">
        <span class="brown"></span>
        Коричневый
      </div>
      <div class="color-item">
        <span class="red"></span>
        Красный
      </div>
    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 4. газобетонные блоки Выберите производителя </h5>

    <div class="block-choice">
      <div class="bc-item">
        <img src="../assets/images/gras.jpg" alt=""/>
        <p>Краткое описание производителя, краткий перечень преимуществ.</p>
        <p> Цена: от 500р за куб.м</p>
      </div>
      <div class="bc-item">
        <img src="../assets/images/poritep.jpg" alt=""/>
        <p>Краткое описание производителя, краткий перечень преимуществ.</p>
        <p> Цена: от 500р за куб.м</p>
      </div>
      <div class="bc-item">
        <img src="../assets/images/el-block.jpg" alt=""/>
        <p>Краткое описание производителя, краткий перечень преимуществ.</p>
        <p> Цена: от 500р за куб.м</p>
      </div>
      <div class="bc-item">
        <img src="../assets/images/euro-block.jpg" alt=""/>
        <p>Краткое описание производителя, краткий перечень преимуществ.</p>
        <p> Цена: от 500р за куб.м</p>
      </div>

    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время и помочь в выборе материалов,
        соответствующих вашим нуждам, мы предлагаем вам использовать онлайн-
        калькулятор. Таким образом, вы быстрее  сориентируетесь в нашем ассортименте и сразу будете знать приблизительную стоимость заказа. <br>
        При возникновении сложностей в выборе необходимых материалов вы всегда можете позвонить нам или <a href="#">заказать обратный звонок</a>.</p>
    </div>
    <h5 class="text-center">шаг 6. газобетонные блоки доставка </h5>

    <div class="row delivery">
      <div class="col-sm-3">
        <div class="padding-left-20">
          Укажите адрес доставки:
        </div>
      </div>
      <div class="col-sm-9">
        <input type="text" placeholder="Пример: Московская область, поселок Хованское"/>
        <div class="pickup">Спасибо, я вывезу самостоятельно</div>
      </div>
    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время, мы предлагаем вам воспользоваться онлайн-калькулятором. Он поможет сориентироваться в нашем ассортименте и сообщит примерную стоимость заказа.</p>
    </div>
    <h5 class="text-center">шаг 6. доставка  </h5>

    <p class="text-center">
      Укажите приблизительное расстояние до объекта доставки <br>(В км, доставка из Москвы)
    </p>

    <div class="delivery-slider">
      <input id="ex14" type="text" />
    </div>

    <div class="delivery text-center">
      <div class="pickup">Спасибо, я вывезу сам</div>
    </div>

    <a class="more v2" href="#">Далее</a>

  </div>
</div>


<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время, мы предлагаем вам воспользоваться онлайн-калькулятором. Он поможет сориентироваться в нашем ассортименте и сообщит примерную стоимость заказа.</p>
    </div>
    <h5 class="text-center">
      шаг 6. укажите количество <br> товара
    </h5>

    <div class="qnt-wrap">

      <div class="qnt-title">
        <div>Количество:</div>
        <div>Площадь:</div>
        <div>Объем:</div>
      </div>

      <div class="qnt-prod">
        <div class="qnt-prod-item">
          <span>-</span>
          <span class="qnt">150 шт</span>
          <span>+</span>
        </div>
        <div class="qnt-prod-item">
          <span>-</span>
          <span class="qnt">1400 м2</span>
          <span>+</span>
        </div>
        <div class="qnt-prod-item">
          <span>-</span>
          <span class="qnt">550 м3</span>
          <span>+</span>
        </div>
      </div>

    </div>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

<div class="section calc">
  <div class="container flex">
    <div class="angle-top-left">
      <h1>Колоссальный выбор материалов</h1>
      <p>Для того, чтобы сэкономить ваше время, мы предлагаем вам воспользоваться онлайн-калькулятором. Он поможет сориентироваться в нашем ассортименте и сообщит примерную стоимость заказа.</p>
    </div>
    <h5 class="text-center">
      шаг 6. газобетонные блоки <br>
      сумма заказа
    </h5>
    <p class="text-center">
      Спасибо, вы ответили на все пункты!<br>
      Примерная стоимость вашего заказа составит
    </p>

    <div class="total-sum">
      <div>123456 рублей</div>
    </div>

    <p class="text-center total-link">
      <a href="/">Вернуться к выбору производителя</a>
      <span>или</span>
      <a href="/">Начать заново</a>
    </p>

    <a class="more v2" href="#">Далее</a>
  </div>
</div>

