<div class="section-line" hide-section-line>
    <div class="section-line-content"></div>
    <ul class="sl-menu" scroll>
        <li><a ng-href="#/" ng-class="{'selected': page == 'main'}">О компании</a></li>
        <li><a ng-href="#/partners" ng-class="{'selected': page == 'partners'}">Партнерам</a></li>
        <li><a ng-click="scrollTo('contacts')">Контакты</a></li>
    </ul>
    <a call-request class="pull-right request-call hidden-xs hidden-sm">Заказать звонок</a>

    <div class="pull-right line-contact hidden-xs hidden-sm">
        <div>+7 (495) 795-99-34</div>
        <a href="mailto:info@stroygarant.moscow">info@stroygarant.moscow</a>
    </div>
    <a class="logo" ng-href="#/"></a>
    <div class="section-line-arrow hidden-sm hidden-xs"></div>
    <div class="hidden-logo"></div>
</div>
