<navbar></navbar>

<ul class="anchor-btn">
    <li ng-repeat="section in sections.keys"
        ng-class="{'selected': currentSection == section}"
        ng-click="scrollTo(section)"></li>
</ul>

<div class="section partner-top height" id="section-about">
  <div class="pixel-net"></div>
  <div class="section-content">
    <h1>
      Производителям <br> материалов
    </h1>
    <div class="angle-bottom-right">
      Ищем производителей строительных материалов, способных предложить инновационную продукцию и новые технологические решения в сферах гражданского и промышленного строительства.
      Успешная история сотрудничества со строительными организациями и частными лицами позволяет нам претендовать на статус официального дистрибьютора компаний, заинтересованных в активном расширении рынка сбыта.
    </div>
  </div>

  <div class="slider-border hidden-xs hidden-sm">
    <div class="s-left-arrow"></div>
    <div class="s-right-arrow"></div>
    <div class="slider-wrap">
      <slick infinite="true" slides-to-show="4" slides-to-scroll="1">
        <div><a href="#"><img src="../../assets/images/gras.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/poritep.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/elblock.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/euroblock.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/gras.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/poritep.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/elblock.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/euroblock.png" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/bbkz.jpg" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/gorkovskii.jpg" alt=""/></a></div>
        <div><a href="#"><img src="../../assets/images/zaraisk.jpg" alt=""/></a></div>
      </slick>
    </div>
  </div>
</div>

<div class="section partner-1" id="section-first">

  <div class="row section-content height">
    <div class="col-lg-offset-2 col-xs-12 col-md-5 col-lg-3 padding-right-30 info-column">
      <h2>
        Поставщикам услуг
      </h2>
      <p>
        «Стройгарант» приглашает к сотрудничеству!<br>
        Мы заинтересованы в долгосрочных отношениях с поставщиками качественных услуг для эффективного и своевременного обеспечения потребностей наших клиентов.
      </p>
      <p>
        <ul class="text">
          <li><b>Рассматриваем предложения услуг и предлагаем заключить взаимовыгодное сотрудничество:</b></li>
          <li>— Транспортным и логистическим компаниям, осуществляющим перевозки строительных грузов.</li>
          <li>— Юридическим и бухгалтерским фирмам, знающим специфику строительного рынка.</li>
          <li>— Архитектурным и конструкторским бюро, а также другим поставщикам услуг в сфере строительства.</li>
        </ul>
      </p>


      <p><a href="mailto:info@stroygarant.moscow?subject=Предложение о партнерстве" class="wrote-us">Свяжитесь с нами</a>, если вы рассматриваете
        подобные варианты сотрудничеств</p>
    </div>
    <div class="col-sm-7 section-img hidden-xs hidden-sm">
      <div class="num"><span></span>1</div>
    </div>
  </div>

</div>

<div class="section partner-2" id="section-second">

  <div class="row section-content height">
    <div class="col-sm-7 section-img hidden-xs hidden-sm">
      <div class="num"><span></span>2</div>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-3 padding-left-30 info-column">
      <h2>
        Продавцам материалов
      </h2>
      <p>
        Сотрудничество со «Стройгарант» на партнерских условиях!<br>
        Как дистрибьютор крупнейших производителей стройматериалов «Стройгарант» предлагает выгодные условия поставок строительных материалов для реализации оптом и в розницу.
        Мы ценим доверие и постоянство наших партнеров и готовы выстраивать надежные обоюдовыгодные деловые отношения.
        Сотрудничество с нами на особых партнерских условиях позволяет получать достойную прибыль от реализации строительных материалов.
      </p>
      <p>
        <a href="mailto:info@stroygarant.moscow?subject=Дилерские поставки" class="wrote-us">Напишите нам</a>, если вы рассматриваете подобные варианты сотрудничества.
      </p>

    </div>
  </div>
</div>

<div class="section partner-3" id="section-third">

  <div class="row section-content height">
    <div class="col-lg-offset-2 col-xs-12 col-md-5 col-lg-3 padding-right-30 info-column">
      <div class="partner-3-info">
        <h2>
          Потенциальным сотрудникам
        </h2>
        <p>
          «Стройгарант», занимаясь обеспечением строительными материалами и выстраивая долгосрочные отношения с партнерами, делает ставку на профессиональные кадры.
          Мы по достоинству оцениваем знания, навыки и опыт наших сотрудников, предлагая достойную зарплату, стабильные условия работы и социальные гарантии.
          Приглашаем инициативных и целеустремленных специалистов стать частью команды «Стройгарант».
        </p>
        <p>
          <a href="mailto:info@stroygarant.moscow?subject=Резюме соискателя" class="wrote-us">Отправить резюме</a>
        </p>
      </div>

    </div>
    <div class="col-sm-7 section-img hidden-xs hidden-sm">
      <div class="num"><span></span>3</div>
    </div>
  </div>

</div>

<contacts></contacts>

